@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

* {
	margin:0;
	padding:0;
}

body {
	
	background-color: white;
}
ul { 
	background-color:white; 
	width: 100%;
	height: 60px;
}
ul li {
	float: left ;
	padding-left: 20px;
	list-style: none ;
	line-height: 60px; 
}

ul li a {
	text-decoration: none; 
	color: black;
font-family: 'Londrina Solid', cursive;
}

ul li a:hover {
	color:pink;
	font-weight: bold; 

}
h1 { 
	font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h2  
	{font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h3 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h4 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h5:hover 
    {
    color: red;
    font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h6:hover {
	color: red;
	font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h7:hover {
	color: red;font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h8:hover {
	color: red;font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h9:hover {
	color: red;font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h10 :hover {
	color: red;font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h11 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h12 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h13 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h14 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h15:hover {
	color: red;font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h16 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}
h17 {font-family: 'Londrina Solid', cursive;
	text-align: center; 
	text-decoration-color: pink
	padding: 60px
	font-weight:bold;}

