@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

* {
	margin:0;
	padding:0;
}

body {
	
	background-color: #42f4d7;
}
ul { 
	background-color:#42f4d7; 
	width: 100%;
	height: 60px;
}
ul li {
	float: left ;
	padding-left: 20px;
	list-style: none ;
	line-height: 60px; 
}

ul li a {
	text-decoration: none; 
	color: black;
	font-family: 'Londrina Solid', cursive;
}

ul li a:hover {
	color:#7742f4;
	font-weight: bold; 

}

h1 { 
	font-family: 'Londrina Sketch', cursive;
	text-align: center; 
	text-decoration-color: black;
	padding: 60px;
	font-weight:bold;}

p a { 
	text-align: center; 
	padding: 400px;
	font-size: 400px; 
 }


p a:link {
    color: #42f4d7;
    background-color: #42f4d7;
    text-decoration: none;
    text-align: center;
    font-family: 'Londrina Sketch', cursive;
}
p a:visited {
    color: #42f4d7;
    background-color:#42f4d7;
    text-decoration: none;
    font-family: 'Londrina Sketch', cursive;
}
p a:hover {
    color: #7742f4;
    background-color: #42f4d7;
    font-size: 400px;
    font-family: 'Londrina Sketch', cursive;
    
}
p a:active {
    color:#f44183 ;
    background-color: #42f4d7;
    
}







