@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

* {
	margin:0;
	padding:0;
}

body {
	
	background-color: #e6ccff;
}
ul { 
	background-color:#ffcce6; 
	width: 100%;
	height: 60px;
}
ul li {
	float: left ;
	padding-left: 20px;
	list-style: none ;
	line-height: 60px; 
}

ul li a {
	text-decoration: none; 
	color: black;
font-family: 'Londrina Sketch', cursive;
}

ul li a:hover {
	color:cyan;
	font-weight: bold; 

}

h1 { 
	font-family: 'Londrina Sketch', cursive;
	text-align: center; 
	text-decoration-color: cyan
	padding: 60px
	font-weight:bold;}

p ul li a:hover

 { 	color:skyblue;
 	text-align: center;
	font-family: 'Londrina Solid', cursive;
	text-decoration-color: #e6ccff; 
	font-size: 200px;



}