@import url('https://fonts.googleapis.com/css?family=Londrina+Sketch');
@import url('https://fonts.googleapis.com/css?family=Londrina+Solid');

* {
	margin:0;
	padding:0;
}


body {
	background-color:#e6ccff;
}


ul { 
	background-color:#e6ccff; 
	width: 100%;
	height: 50px;
	text-align: justify;
}

	ul li {
	float: left ;
	padding-left: 30px;
	list-style: none ;
	line-height: 60px; 
}

ul li a {
	text-decoration: none; 
	color: black;
	font-family: 'Londrina Solid', cursive;
	

}

ul li a:hover {
	color:#ff4c82 ;
	font-weight: bold; 

}

ul li {
	float: left ;
	padding-left: 30px;
	list-style: none ;
	line-height: 60px; 
}

h1 { 
	font-family: 'Londrina Sketch', cursive;
	text-align: center; 
	text-decoration-color: cyan
	padding: 30px}


h2 {
	
	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: center; 
	text-decoration-color: white;
	font-size: 20px;
	
	}

h3 {
	
	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: center; 
	text-decoration-color: white;
		font-size: 20px;
}

h4 {
	
	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: center; 
	text-decoration-color: white;
		font-size: 20px;}

h5 {

	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: center; 
	text-decoration-color: white;	
	font-size: 20px;

}

h6 {
	
	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: center; 
	text-decoration-color: white;
		font-size: 20px;}

h7 {
	
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: justify; 
	text-decoration-color: white;
		font-size: 20px;
}
h8 { 
	
	text-align: center;
	font-family: 'Londrina Solid', cursive;
	color:white;
	font-style: bold; 
	text-align: justify; 
	text-decoration-color: white;
		font-size: 20px;
}

	