@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
	margin:0;
	padding:0;
}

body {
	
	background-color: #e6ccff;
}
ul { 
	background-color:#ffcce6; 
	width: 100%;
	height: 60px;
}
ul li {
	float: left ;
	padding-left: 20px;
	list-style: none ;
	line-height: 60px; 
}

ul li a {
	text-decoration: none; 
	color: black;
	font-family: 'Josefin Sans', sans-serif;
}

ul li a:hover {
	color:cyan;
	font-weight: bold; 

}

h1 { 
	font-family: 'Josefin Sans', sans-serif;
	text-align: center; 
	text-decoration-color: cyan
	padding: 60px
	font-weight:bold;}

p { 
	padding-left: 350px;
	padding-right: 350px;
	text-align: justify; }

img 
{ 
	padding-left: 450px;
	padding-right: 450px;
}
h2 {
	text-align: center; 
	font-size-adjust: 200px
	text-color: white;
	padding: 100px;
	font-style: italic;
	text-decoration: bold;
}
div {
	background-color:yellow ;
	width: 100%;
	height: 600px;
	text-align: center;
	margin:0 auto ;
}
